* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

:root {
  --colorOne: #fa7070;
  --colorTwo: #fefded;
  --colorThree: #c6ebc5;
  --colorFour: #a1c398;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: none;
}

.container.active {
  display: block;
  width: 70%;
  height: 70%;
}

.form {
  width: 100%;
  height: 100%;
  background-color: peachpuff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

/* input {
  width: 500px;
  height: 30px;
  padding: 5px;
} */

.inputBox {
  position: relative;
  width: 500px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #1d2b3a79;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  color: 1d2b3a79;
  font-size: 1em;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  color: #1d2b3a79;
  pointer-events: none;
  font-size: 1em;
  transition: 0.3s ease;
}

.inputBox span.readonly {
  transform: translateX(10px) translateY(-10px);
  font-size: 0.8em;
  padding: 0 5px;
  background: #fff;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #1d2b3a79;
  transform: translateX(10px) translateY(-10px);
  font-size: 0.8em;
  padding: 0 5px;
  background: #fff;
}

.form .formBtn {
  display: none;
}

.form .formBtn.active {
  display: block;
}

.toggleFormBtn {
  display: none;
}

.toggleFormBtn.active {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
}

.dataPage {
  display: none;
}

.dataPage.active {
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.2);
  display: block;
  width: 70%;
  height: 80%;
  overflow: hidden;
}

.dataPageNav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.dataContainer {
  display: block;
  height: calc(100% - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--colorTwo);
}

.dataContainer::-webkit-scrollbar {
  display: none;
}

.website {
  margin: 5px;
  background-color: var(--colorFour);
  color: var(--colorTwo);
  padding: 20px;
  font-size: 20px;
  border-radius: 1rem;
  cursor: pointer;
}

.infoPage {
  display: none;
}

.infoPage.active {
  display: block;
  width: 70%;
  height: 70%;
  background-color: lightblue;
}

.addWebsiteForm {
  display: none;
}

.newWebsite,
.newWebsiteUsername,
.newWebsitePassword {
  width: 100%;
}

.websiteForm,
.editForm {
  background-color: rgba(255, 255, 255);
  border-radius: 1rem;
  position: absolute;
  width: 50%;
  height: auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.addWebsiteForm.active,
.editWebisteForm.active {
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.editWebisteForm {
  display: none;
}

.editWebsite,
.editUsername,
.editPassword {
  width: 100%;
}
